form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
label, legend {
    font-family: var(--hl-font);
    font-size: 20px;
    font-weight: 500;
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
fieldset label, fieldset a {
    font-family: var(--p-font);
    font-size: 20px;
}
input, textarea, fieldset {
    border: 1.5px solid #c0c0c0;
}
input, textarea, form a {
    font-family: var(--p-font);
    font-size: 20px;
    padding: 8px 12px;
}
form a {
    width: fit-content;
}
textarea {
    resize: vertical;
}
iframe[name="hidden"] {
    display: none;
}
button {
    font-family: var(--hl-font);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    width: fit-content;
    padding: 12px 24px;
    margin: 8px 0;
    background-color: var(--a-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}
button:hover {
    text-decoration: none;
    background-color: #2060c0;
    box-shadow: 0 1px 2px 0 #00000060;
}
button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
    pointer-events: none;
}
.hide {
    display: none;
}
.req::after {
    content: "*";
    color: #e03020;
}