<script>
    const url = "{{ page.url }}";
    const array = url.split("/");
    const filter = array.filter(item => !["en", "fr", "es", ""].includes(item));
    const relativeUrl  = filter.join("/");
</script>
<footer>
    {% if page.lang == "ja" %}
        <small>&copy; 2024 やきとりサーバー</small> | 
        <small><a href="/privacy-policy">プライバシーポリシー</a></small> |
    {% elsif page.lang == "en" %}
        <small>&copy; 2024 Yakitori Server</small> | 
        <small><a href="/en/privacy-policy">Privacy policy</a></small> |
    {% endif %}
    <select name="" id="" onchange="if (this.value === 'ja') {window.location = `{{ site.url }}/${relativeUrl}`} else {window.location = `{{ site.url }}/${this.value}/${relativeUrl}`}">
        <option value="en" {% if page.lang == "en" %} selected {% endif %}>🇺🇸🇬🇧... English</option>
        <option value="ja" {% if page.lang == "ja" %} selected {% endif %}>🇯🇵 日本語</option>
    </select>
</footer>
