<footer>
    {% if page.lang == "ja" %}
        <small>&copy; 2023 やきとりサーバー</small> | 
        <small>ライセンス (ソフトウェア): <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPL-3.0</a></small> | 
        <small><a href="/privacy-policy">プライバシーポリシー</a></small>
    {% elsif page.lang == "en" %}
        <small>&copy; 2023 Yakitori Server</small> | 
        <small>License (Software): <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPL-3.0</a></small> | 
        <small><a href="/en/privacy-policy">Privacy Policy</a></small>
    {% endif %}
</footer>