form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
label, legend {
    font-family: var(--hl-font);
    font-size: 20px;
    font-weight: 500;
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px 16px;
}
fieldset label, fieldset a {
    font-family: var(--p-font);
    font-size: 20px;
}
input, textarea, fieldset {
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}
input, textarea, form fieldset a {
    font-family: var(--p-font);
    font-size: 20px;
    padding: 8px 12px;
}
form a {
    width: fit-content;
}
textarea {
    resize: vertical;
}
iframe[name="hidden"] {
    display: none;
}
.hide {
    display: none;
}
.req::after {
    content: "*";
    color: #e03020;
}