div#cover {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/cover.webp');
    background-size: cover;
    background-position: center;
}
div#cover section {
    text-align: center;
}
div#cover section * {
    color: #fff;

    display: inline-block;
}
div#cover section h1 {
    font-size: 48px;
    font-weight: 500;
    
    margin-bottom: 0;
}
div#cover section h1 span {
    font-weight: bold;
}
div#cover section h2 {
    font-weight: normal;
}