ul, dl {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
main dt, main dd {
    font-family: 'Times New Roman', Times, 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', HGS明朝E, serif;
    font-size: 20px;
}
main dt {
    font-family: Arial, Helvetica, 游ゴシック, 'Yu Gothic', YuGothic, 'Hiragino Gothic ProN', 'Hiragino Gothic Pro', HGSゴシックE, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
main dd {
    margin-left: 20px;
}