<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        {% seo %}
        <link rel="shortcut icon" href="https://www.yakitori.tk/ra7n1k/img/logos/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://www.yakitori.tk/ra7n1k/css/style.css">
        <link rel="stylesheet" href="https://www.yakitori.tk/ra7n1k/css/mobile/style.css" media="screen and (max-width: 1000px)">
    </head>
    <body>
        <header>
            {% include header.html %}
        </header>
        <main>
            <section>
                {{ content }}
            </section>
        </main>
    </body>
</html>
