<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} | Ratnik</title>
        {% seo %}
        <link rel="shortcut icon" href="/imgs/logos/favicon.ico" type="image/x-icon">
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {% include header.html %}
        <main>
            <section>
                {{ content }}
            </section>
        </main>
        {% include footer.html %}
    </body>
</html>
