<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>製品 - Nik29</title>
        <link rel="shortcut icon" href="./img/logos/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="./img/logos/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="./css/mobile/style.css" media="screen and (max-width: 1000px)">
    </head>
    <body>
        <header>
            <a id="logo" href="../ra7n1k/" aria-label="ホーム"><img src="../ra7n1k/img/logos/header.svg" alt=""></a>
            <section>
                <a href="../ra7n1k/products">製品</a>
                <a href="../ra7n1k/contact">コンタクト</a>
            </section>
        </header>
        <main>
            <h1>{{ page.title }}</h1>
            <section>
                {{ content }}
            </section>
        </main>
    </body>
</html>
