<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-9ERDK1NF68"></script>
        <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-9ERDK1NF68');</script> -->
        <!-- Google tag (gtag.js) -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} | やきとりサーバー</title>
        {% seo %}
        <link rel="shortcut icon" href="https://www.yakitori.tk/img/logos/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://www.yakitori.tk/css/style.css" media="all">
        <link rel="stylesheet" href="https://www.yakitori.tk/css/mobile.css" media="screen and (max-width: 1000px)">
    </head>
    <body>
        {% include header.html %}
        {{ content }}
    </body>
</html>
