<!-- This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.  -->

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} | やきとりサーバー</title>
        {% seo %}
        <link rel="shortcut icon" href="https://www.yakitori.tk/imgs/logos/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.yakitori.tk/css/style.css" media="all">
        <link rel="stylesheet" href="https://www.yakitori.tk/css/mobile.css" media="screen and (max-width: 1000px)">
    </head>
    <body>
        {% include header %}
        <main>
            <h1>{{ page.title }}</h1>
            <section>
                {{ content }}
            </section>
        </main>
        {% include footer %}
        {% include privacy %}
    </body>
</html>