<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.redirect_to }}にリダイレクト</title>
        <link rel="shortcut icon" href="https://www.yakitori.tk/img/logos/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://www.yakitori.tk/css/style.css" media="all">
        <link rel="stylesheet" href="https://www.yakitori.tk/css/mobile.css" media="screen and (max-width: 1000px)">
    </head>
    <body>
        <header>
            <a href="https://www.yakitori.tk/" aria-label="ホーム"><img src="https://www.yakitori.tk/img/logos/header.svg" alt="" width="48" height="48"></a>
            <nav>
                <a href="https://www.yakitori.tk/rules">ルール</a>
                <a href="https://www.yakitori.tk/beginning">はじめに</a>
                <a href="https://www.yakitori.tk/guide">ご案内</a>
            </nav>
        </header>
        <main>
            <p>リダイレクトされない場合は<a href="{{ page.redirect_to }}" target="_blank">{{ page.redirect_to }}</a>からアクセスできます。</p>
        </main>
    </body>
</html>